<p id="notice"><%= flash[:notice] %></p>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

  
<%# HEADING TITLES FOR BRANDON TO FINISH %>

<div class="requests-header">
  <h2 >My Claims</h2>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <% @deleted_claims.each do |deleted_claim| %>
        <div class="deleted-requests-card" id="request_<%=deleted_claim.id%>">
          <h4 class="card-title">
            <%= deleted_claim.request.title %>
          </h4>
          <div class="card-row">
            <div class="card-col-1">
              <p class="deadline">
                This request was deleted.
              </p>
            </div>
            <div class="card-col-2">
                <%=hidden_field_tag "request_id", deleted_claim.request.id%>
                <%=link_to "Dismiss Deleted Request.", delete_claim_path(claim_id: deleted_claim.id), action: "delete", method: :delete, data: { confirm: 'This request has been deleted, and no longer requires translation! It will no longer show up in your claims', title: 'Confirm Request Deletion', commit: 'OKAY' } %>
            </div>
          </div>
        </div>
      <% end %>

      <% @claims.each do |claim| %>
        <div class="requests-card" id="request_<%=claim.id%>">
          <h4 class="card-title">
            <%= claim.request.title %>
          </h4>
          <p class="card-text">
            <%= claim.request.description %><br />
          </p>
          <h5>
            From <%= claim.request.from_language %> to  <%= claim.request.to_language %><br />
          </h5>
          <% if (((claim.request.deadline - claim.request.created_at).to_i)/86400) < 0%>
            <p class="card-text deadline">This was due <%= (-1*(((claim.request.deadline - claim.request.created_at).to_i)/86400)).to_s[0..10] %> days ago.</p>
          <%end%>
          <% if (((claim.request.deadline - claim.request.created_at).to_i)/86400) == 0%>
              <p class="card-text deadline">This is due today </p>
          <%end%>
          <% if (((claim.request.deadline - claim.request.created_at).to_i)/86400) == 1%>
            <p class="card-text deadline">This is due today </p>
          <%end%>
          <% if (((claim.request.deadline - claim.request.created_at).to_i)/86400) > 1%>
            <p class="card-text deadline">This is due in <%= (((claim.request.deadline - claim.request.created_at).to_i)/86400).to_s[0..10] %> days.</p>
          <%end%>

          <div class="card-row">
            <div class="card-col-1">
              <div class="tags-container">
                <span class="tag tag-pink"><%= claim.request.num_claims%> Claims</span>
                <% if claim.request.categories%>
                  <% claim.request.categories.each do |c| %>
                    <span class="tag tag-blue"><%= "#{c}" %></span>
                  <% end %>
                <%end%>
                <span class="tag tag-green"><%= claim.request.document_format.capitalize %></span>
              </div>
            </div>
            <div class="card-col-2">
              <%=form_tag "/claims", method: "post", class: "claim-form" do %>
                <%=hidden_field_tag "request_id", claim.request.id%>
                <%=link_to "Submit Translation", {controller: "claims", action: "show", claim_id: claim.request.id} , class: "btn btn-outline-primary" %> <br class="show-on-small" />
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>