<p id="notice"><%= flash[:notice] %></p>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

  
<%# HEADING TITLES FOR BRANDON TO FINISH %>
  
  <table>
  <thead>
    <tr>
      <th> Title </th>
      <th> Request Language </th>
      <th> Translation Language </th>
      <th> Status </th>
      <th> Categories </th>
      <th> Deadline </th>
  </thead>

  <tbody>
  <% @claims.each do |claim| %>
      <tr>  
        <td> <%= claim.title %>  </td>
        <td> <%= claim.from_language %> </td>
        <td> <%= claim.to_language %> </td>
        <td> <%= claim._status %> </td>
        <td> <%= claim.categories %> </td>
        <td> <%= claim.deadline %> </td>
        <td> <%=button_to "Submit Translation", claim_path, action: "show", method: :get %>
      </tr>
      <% end %>

    <% @deleted_claims.each do |deleted_claim| %>
      <tr>  
        <td> <%= deleted_claim.title %>  </td>
        <td> <%= deleted_claim.from_language %> </td>
        <td> <%= deleted_claim.to_language %> </td>
        <td> <%= deleted_claim._status %> </td>
        <td> <%= deleted_claim.categories %> </td>
        <td> <%= deleted_claim.deadline %> </td>
        <td> <%=button_to "Dismiss Claim for Deleted Request", delete_claim_path, claim_id: delete_claim.id, action: "delete", method: :delete, data: { confirm: 'This request has been deleted, and no longer requires translation! It will no longer show up in your claims', title: 'Confirm Request Deletion', commit: 'OKAY' } %>
      </tr>
      <% end %>

    </tbody>

  </table>