<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>


<div class="flex-container pad-for-nav">
    <div class="flex-sidebar">
      <div class="profile-container">
        <h3> <%=@name%> </h3>
        <h4 class="bold-2"> <%=@role%> </h4>
        <h4>Completed Translations: <span class="badgey"><%= @total_count %></span> </h4>
        <%=link_to "Sign Out", :controller => "auth", :action => :logout, method: :get, class: "btn btn-primary" %>

      </div>
        
      <h3 class="section-header pad-left mg-bt-10"> Notifications </h3>
      <div class="notifications-container">
          <% flash.each do |key, value| %>
          <% if key != 'alert'%>
              <div class="alert alert-<%= key %> alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= value %>
              </div>
            <%end%>
          <% end %>
          <% if flash.nil? || flash.empty? %>
            <div class="alert alert-warning" role="alert">
              You have no new notifications.
            </div>
          <% end %>
      </div>
    </div>
    <div class="flex-body">
      <div class="spread pad-10 border-bottom" >
        <h3 class="section-header-big">
          <% if @status.is_a?(String) && @status.to_i == 0%>
            Pending Claims
          <% elsif @status.is_a?(String) && @status.to_i == 1%>
            Completed Claims
          <% else %>
            My Claims
          <% end %>
        </h3>
        <div class="flex">
          <%= button_to "Browse Requests", view_requests_path, action: "requests", method: :get, class:"btn btn-primary", style:"margin-right: 10px "%>
          <label class="dropdown">
            <div class="dd-button">
              Filter
            </div>
            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu">
              <li><%= link_to "All Claims", claims_path() %></li>
              <li><%= link_to "Pending Claims", claims_path(status: 0) %></li>
              <li><%= link_to "Completed Claims", claims_path(status: 1) %></li>
            </ul>
          </label>
        </div>
      </div>

      <div class="request-list">
      <% if @dismiss_claims.empty? && @claims.empty? %>
        <div class="alert alert-warning mg-tp-20" role="alert">
          You have no <%= @status.is_a?(String) && @status.to_i == 1 ? "completed" : ""%> claims at the moment. Get started by claiming a new request from the <a href="/translators/requests" class="alert-link"> request list</a>.
        </div>
      <% end %>
      <% @dismiss_claims.each do |deleted_claim| %>
        <div class="requests-card mg-top-15" id="request_<%=deleted_claim.id%>">
          <h4 class="card-title">
            <%= deleted_claim.request.title %>
          </h4>
          <div class="card-row">
            <div class="card-col-1">
              <p class="deadline">
                This request was deleted.
              </p>
            </div>
            <div class="card-col-2">
              <%=hidden_field_tag "request_id", deleted_claim.request.id%>
              <%=link_to "Dismiss Deleted Request", delete_claim_path(claim_id: deleted_claim.id), action: "delete", method: :delete, style:"text-decoration: none" %>
            </div>
          </div>
        </div>
      <% end %>
      <% @claims.each do |claim| %>
          <% request = claim.request%>
          <div class="requests-card mg-top-15" id="request_<%=request.id%>">
            <div class="spread">
              <h4 class="card-title">
                <%= request.title %>
              </h4>
              <p class="lead-no-margin card-subs pad-top-5">
                <% if claim._status.to_i != 1%>
                  <% if getDaysLeft(request)[1]%>
                    <span class="blue">Deadline: </span> <%= getDaysLeft(request)[0] %> <i class="fa fa-exclamation-circle red"></i>  </span>
                  <% else %>
                    <span class="blue">Deadline: </span> <span> <%= getDaysLeft(request)[0] %> </span>
                  <%end%>
                <% end %>
              </p>
            </div>
            <p class="langs card-subs"> 
                <%= request.from_language %>
                <i class="fa fa-arrow-right sm"></i>
                <%=request.to_language %>
            </p>
            <p class="card-text">
              <%= request.description %><br />
            </p>
            <div class="card-row">
              <div class="card-col-1">
                <div class="tags-container">
                  <% if request.categories%>
                    <% request.categories.each do |c| %>
                      <span class="tag tag-blue"><%= "#{c}" %></span>
                    <% end %>
                  <%end%>
                  <% if request._status==0%>
                      <span class="tag tag-orange"> Pending</span>
                    <% elsif request._status==1 %>
                      <span class="tag tag-green"> Completed</span>
                    <% end %>
                </div>
              </div>
              <div class="card-col-2">
                <%= link_to claim._status.to_i == 1 ? "View" : "Translate", {controller: "claims", action: "show", claim_id: claim.id} , class: "btn btn-primary", style: "margin-top: 5px" %> <br class="show-on-small" />
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





