<div class="requests" id="request_<%=@request.id%>">
  Title: <%= @request.title %><br />
  Desc: <%= @request.description %><br />
  From: <%= @request.from_language %><br />
  To: <%= @request.to_language %><br />

  Format: <%= @request.document_format %><br />
  Number of Claims: <%= @request.num_claims %><br />
  Categories: <%= @request.categories %><br />
  Deadline: <%= @request.deadline %><br />
</div>

  <div class="card-col-2">
    <%=simple_form_for @claim, url: create_claim_path, method: :post, class: "claim-form", :remote => true, :authenticity_token => true do |c| %>
      <%= c.association :request, :collection => Request.all, :selected => @request.id, as: :hidden %>
      <%=hidden_field_tag "request_id", @request.id%>
      <%=c.button :submit, "Claim", data: (isHighImpact(@request.from_language, @request.to_language, @request.id) ? nil : {confirm: 'We found other requests with the same language pair but no claims :( Would you like to continue with this claim still?', title: 'Confirm Claim', commit: 'YES', cancel: 'NO'}), class: "btn btn-primary", disabled: isAlreadyClaimed(@request.id) %>
    <% end %>
  </div>
 

<%= button_to "All Requests", view_requests_path, action: "requests", method: :get %>

