<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
<% end %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<div class="flex-container-2 pad-for-nav">
  <div class="flex-header">
      <div class="left-title">
        <h2 class="align-center">Pending Requests</h2>
      </div>


      <%=form_tag "requests", method: "get", class:"filter-cont" do %>
        <span class="lead lead-no-margin bold filter-labels align-center"%> From: </span>
        <%=select_tag("from_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), prompt: "Select Language", class: "form-control fix-size align-center") %>
        <span class="lead lead-no-margin bold filter-labels align-center"%> To: </span>
        <%=select_tag("to_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), prompt: "Select Language", class: "form-control fix-size align-center") %>
        <%=submit_tag "Filter", class: "btn btn-primary mg-left-20 align-center mg-tp expand-button"%>
        <%=link_to "Reset", {controller: "claims", action: "requests"}, class:"mg-left-20 align-center mg-tp"%>
      <% end %>
  </div>


    <div class="flex-body">
      <% if @requests.empty? %>
        <% if @no_pending_reqs%>
          <div class="alert alert-warning" role="alert">
            There are no pending requests at the moment. Please check back later!
          </div>
        <% else %>
          <div class="alert alert-warning" role="alert">
            No pending requests matched your filters. Please check back later!
          </div>
        <% end %>
      <% end %>
      <% @requests.each do |request| %>
        <div class="requests-card" id="request_<%=request.id%>">
          <div class="spread">
            <h4 class="card-title">
              <%= request.title %>
            </h4>
            <p class="lead-no-margin card-subs pad-top-5">
              <% if getDaysLeft(request)[1]%>
                <span class="blue">Deadline: </span> <%= getDaysLeft(request)[0] %> <i class="fa fa-exclamation-circle red"></i>  </span>
              <% else %>
                <span class="blue">Deadline: </span> <span> <%= getDaysLeft(request)[0] %> </span>
              <%end%>
            </p>
          </div>

          <p class="langs card-subs">
            <%= request.from_language %>
            <i class="fa fa-arrow-right sm"></i>
            <%=request.to_language %>
          </p>

          <p class="card-text">
            <%= request.description %><br />
          </p>

          <div class="card-row">
            <div class="card-col-1">
              <div class="tags-container">
                <span class="tag tag-orange"><%= request.num_claims%> Claims</span>
                <% if request.categories%>
                  <% request.categories.each do |c| %>
                    <span class="tag tag-blue"><%= "#{c}" %></span>
                  <% end %>
                <%end%>
                <span class="tag tag-purple"><%= request.document_format %></span>
              </div>
            </div>
            <div class="card-col-2">
              <%=simple_form_for @claim, url: create_claim_path, method: "create" do |c| %>
                <%= c.association :request, :collection => Request.all, :selected => request.id, as: :hidden %>
                <%=hidden_field_tag "request_id", request.id%>
                <%=link_to "Preview Request", {controller: "claims", action: "preview", request_id: request.id} , class: "btn btn-outline-primary", style: "padding-left: 0px" %> <br class="show-on-small" />
                <% impact, impactID =  isHighImpact(request.from_language, request.to_language, request.id)%>
                <%=c.button :submit, "Claim", data: (impact ? nil : {confirm: "We found other requests with the same language pair but no claims :( Check it out #{link_to "here", {controller: "claims", action: "preview", request_id: impactID}}.  Would you like to continue with this claim still?", title: 'Confirm Claim', commit: 'YES', cancel: 'NO'}), class: "btn btn-primary", disabled: isAlreadyClaimed(request.id) %> 
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
</div>
