<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<div class="requests-header">
  <h3>Pending Requests</h3>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-2">
      <div class="filter-cont">
        <%=form_tag "requests", method: "get" do %>
          <%=label_tag "From Language"%><br />
          <%=text_field_tag "from_language"%><br />
          <%=label_tag "To Language"%><br />
          <%=text_field_tag "to_language"%><br />
          <%=submit_tag "Filter"%>
        <% end %>
      </div>
    </div>

    <div class="col-md-10">
      <% @requests.each do |request| %>
        <div class="requests-card">
          <h4 class="card-title">
            <%= request.title %>
          </h4>
          <p class="card-text">
            <%= request.description %><br />
            From <%= request.from_language %> to  <%= request.to_language %><br />
          </p>
          <p class="card-text deadline">Deadline: <%= request.deadline.to_s[0..10] %> </p>
          
          <div class="card-row">
            <div class="card-col-1">
              <div class="tags-container">
                <span class="tag tag-pink"><%= request.num_claims%> Claims</span>
                <% if request.categories%>
                  <% request.categories.each do |c| %>
                    <span class="tag tag-blue"><%= "#{c}" %></span>
                  <% end %>
                <%end%>
                <span class="tag tag-green"><%= request.document_format %></span>
              </div>
            </div>
            <div class="card-col-2">
              <%=form_tag "/claims", method: "post", class: "claim-form" do %>
                <%=hidden_field_tag "request_id", request.id%>
                <% if !isAlreadyClaimed(request.id) %>
                  <%=link_to "View Request", {controller: "claims", action: "preview", request_id: request.id} , class: "btn btn-outline-primary" %> <br class="show-on-small" />
                <% else %>
                  <%=link_to "View Your Claim", {controller: "claims", action: "show", claim_id: request.id} , class: "btn btn-outline-primary" %> <br class="show-on-small" />
                <% end %>
                <%=submit_tag "Claim", data: (isHighImpact(request.from_language, request.to_language, request.id) ? nil : {confirm: 'We found other requests with the same language pair but no claims :( Would you like to continue with this claim still?', title: 'Confirm Claim', commit: 'YES', cancel: 'NO'}), class: "btn btn-primary", disabled: isAlreadyClaimed(request.id) %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
