<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<div class="container">
  <div class="page-header-container">
    <h2 class="page-header-title">Pending Requests</h2>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <div class="filter-cont">
        <%=form_tag "requests", method: "get" do %>
          <p class="lead filter-labels"%> Document Language: </p>
          <%=select_tag("from_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), prompt: "Select Language", class: "form-control") %><br />
          <p class="lead filter-labels"%> Translate To: </p>
          <%=select_tag("to_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), prompt: "Select Language", class: "form-control") %><br />
          <%=submit_tag "Filter", class: "btn btn-primary btn-block"%>
          <div class="reset-container">
            <%=link_to "Reset", {controller: "claims", action: "requests"}%>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">
      <% if @requests.empty? %>
        <div class="alert alert-info no-requests" role="alert">
          <p class="lead">No requests matched your filters :(<br/> Please check back later!</p> 
        </div>
      <% end %>
      <% @requests.each do |request| %>
        <div class="requests-card" id="request_<%=request.id%>">
          <div class="spread">
            <h4 class="card-title">
              <%= request.title %>
            </h4>
            <p class="lead-no-margin card-subs pad-top-5"> 
                <span class="blue">Deadline: </span><%= getDaysLeft(request) %>
            </p>
          </div>

          <p class="langs card-subs"> 
              <%= request.from_language %>
              <i class="fa fa-arrow-right sm"></i>
              <%=request.to_language %>
          </p>

          <p class="card-text">
            <%= request.description %><br />
          </p>
          
          <div class="card-row">
            <div class="card-col-1">
              <div class="tags-container">
                <span class="tag tag-pink"><%= request.num_claims%> Claims</span>
                <% if request.categories%>
                  <% request.categories.each do |c| %>
                    <span class="tag tag-blue"><%= "#{c}" %></span>
                  <% end %>
                <%end%>
                <span class="tag tag-purple"><%= request.document_format %></span>
              </div>
            </div>
            <div class="card-col-2">
              <%=simple_form_for @claim, url: create_claim_path, method: "create" do |c| %>
                <%= c.association :request, :collection => Request.all, :selected => request.id, as: :hidden %>
                <%=hidden_field_tag "request_id", request.id%>
                <%=link_to "View Request", {controller: "claims", action: "preview", request_id: request.id} , class: "btn btn-outline-primary", style: "padding-left: 0px" %> <br class="show-on-small" />
                <%=c.button :submit, "Claim", data: (isHighImpact(request.from_language, request.to_language, request.id) ? nil : {confirm: 'We found other requests with the same language pair but no claims :( Would you like to continue with this claim still?', title: 'Confirm Claim', commit: 'YES', cancel: 'NO'}), class: "btn btn-primary", disabled: isAlreadyClaimed(request.id) %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
