<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<div class="container requests-header">
  <h3>Pending Requests</h3>

  <%=form_tag "requests", method: "get" do %>
    <%=label_tag "From Language"%>
    <%=text_field_tag "from_language"%>
    <%=label_tag "To Language"%>
    <%=text_field_tag "to_language"%>
    <%=submit_tag "Filter"%>
  <% end %>
  <%=link_to "Sort by deadline", controller: "claims", action: "requests", sort_by_deadline: true%>
</div>

<div class="container">
  <% @requests.each do |request| %>
    <div class="requests-card">
      <span class="" style="font-weight: 400">
         <%= request.title %><br />
      <span class="">
        <%= request.description %><br />
        From <%= request.from_language %> to  <%= request.to_language %><br />
      </span>
      <span class=" deadline">Due: <%= request.deadline.to_s[0..10] %> </span>

      <div class="tags-containers">
        <span class="tag tag-pink"><%= request.num_claims%> Claims</span>
        <% if request.categories%>
          <% request.categories.each do |c| %>
            <span class="tag tag-blue"><%= "#{c}" %></span>
          <% end %>
        <%end%>
        <span class="tag tag-green"><%= request.document_format %></span>
      </div>

      <%=link_to "View Request", controller: "claims", action: "preview", request_id: request.id%>
      <%=form_tag "/claims", method: "post" do %>
        <%=hidden_field_tag "request_id", request.id%>
        <%=submit_tag "Claim", data: (isHighImpact(request.from_language, request.to_language) ? nil : {confirm: 'We found other requests with the same language pair but no claims :( Would you like to view it?', title: 'Confirm Claim', commit: 'YES', cancel: 'NO'}), class: "btn btn-primary" %>
      <% end %>

    </div>
    
  <% end %>
</div>
