<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>





<div class="container">
  <div class= "show-request-container show-request ">
    <h2 class="title"> <%= @request.title %></h2>
    <div class="spread">
      <p class="lead bold langs"> 
          <%= @request.from_language %>
          <i class="fa fa-arrow-right sm"></i>
          <%=@request.to_language %>
      </p>
      <p class="lead lead-no-margin bold"> 
        <span class="blue">Deadline: </span><%= @request.deadline.to_s[0..10] %>
      </p>
    </div>
    <p class="lead tags-container"> 
      <%= @request.description %><br/>
        <% if @request.categories%>
          <% @request.categories.each do |c| %>
            <span class="tag tag-blue"><%= "#{c}" %></span>
          <% end %>
        <%end%>
    </p>

    <% if @request.document_format == "text"%>
      <div class="document-container">
        <p class="lead bold blue-header"> 
          Document
        </p>
        <div class="document-text">
          <p class="lead lead-small lead-no-margin"> 
            <%= @request.document_text %>
          </p>
      </div>
    <% end %>
  </div>

  <div class="translation-text-container">
    <%= form_for @claim do |f| %>
      <div class="form-group">
        <%= f.label :Translation, "Translation", class: "lead bold blue-header" %> <br/>
        <span> Paste you translation here, or upload a file </span>
        <%= f.text_area(:translation_text, required: true, rows: 10, class: "form-control") %><br>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>