
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
<%= csrf_meta_tags %>

<div class="container pad-for-nav">
  <div class="page-header-container">
    <h2 class="page-header-title">Translate Claim</h2>
  </div>

  <div class="info-container">
    <div class="spread">
      <span class="lead bold title"> <%= @request.title %> </span>
      <p class="lead lead-no-margin bold mg-tb-5"> 
        <span class="blue">Deadline: </span><%= @request.deadline.to_s[0..10] %>
      </p>
    </div>
    <p class="lead bold langs"> 
        <%= @request.from_language %>
        <i class="fa fa-arrow-right sm"></i>
        <%=@request.to_language %>
    </p>
    <p class="lead lead-no-margin" style="margin-bottom: 10px"> 
      <%= @request.description %><br/>
        <% if @request.categories%>
            <div class="tags-container">
              <% @request.categories.each do |c| %>
                <span class="tag tag-big tag-blue"><%= "#{c}" %></span>
              <% end %>
              <% if @request._status==0%>
                <span class="tag tag-big tag-orange"> Pending</span>
              <% elsif @request._status==1 %>
                <span class="tag tag-big tag-green"> Completed </i></span>
              <% end %>
            </div>
        <%end%>
    </p>
  </div>

    <div class="document-container">
      <% if @request.document_format == "text"%>
        <p class="lead blue-header"> 
          Document
        </p>
        <div class="document-text">
          <p class="lead lead-small lead-no-margin"> 
              <%= @request.document_text %>
          </p>
        </div>
      <% else %>
        <p class="lead blue-header"> 
          Documents
        </p>
        <div class="document-text">
          <p class="lead lead-small-xs lead-no-margin"> 
            <% @request.document_uploads.each do |file| %>
              <i class="fa fa-file sm blue" style="margin-left: 7px"></i> <%= link_to(file.filename, file, target: "_blank") %><br/>
             <% end %>
          </p>
        </div>
      <%end%>
    </div>

  <% if @claim._status == 1%>
    <div class="translation-container">
      <p class="lead blue-header"> 
        Your Translation
      </p>
      <div class="document-text">
        <p class="lead lead-small lead-no-margin"> 
          <%= @claim.translation_text %>
        </p>
      </div>
    </div>
      <%= button_to "Back to Your Claims", claims_path, action: "index", method: :get, class:"btn btn-primary pad-left"%>
  <% else %>
    <div class="translation-text-container">
      <%= form_for @claim do |f| %>
        <div class="form-group">
          <%= f.label :Translation, "Your Translation", class: "lead bold blue-header pad-left" %> 
          <%= f.text_area(:translation_text, required: true, rows: 10, class: "form-control curve") %><br>
        </div>
        <div class="form-group">
          <%= f.submit "Submit Translation", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= button_to "Unclaim Request", delete_claim_path(claim_id: @claim.id), claim_id: @claim.id,  class: 'btn btn-link destroy', action: "delete", method: :delete, data: { confirm: 'Are you sure you want to unclaim this request?', title: 'Confirm Unclaim Request', commit: 'YES', cancel: 'NO'} %>
    <%end%>
  </div>  
</div>
