%h2 All Requests 

-# = form_tag 
%h3 All Translations
%h3 Pending Translations 
%h3 Completed Translations

%table#requests.table.table-striped.col-md-12
    %thead
        %tr
            %th Title 
            %th Request Language 
            %th Translation Language
            %th Status 
            %th Deadline

    %body 
        -@requests.each do |r|
            %tr
                %td= link_to "#{r.title}", show_requests_path(:uid => r.user_tarjimly_id, :rid => r.id) 
                %td= r.from_language
                %td= r.to_language
                - if (r._status == 0)
                    %td= "Pending"
                - else 
                    %td= "Complete"

                %td= r.deadline

-# = link_to 'New Request', new_requests_path(:uid => @tid)
-# = link_to 'View All Requests', index_requests_path(:uid => @tid)

