
<button> <%= link_to "Pending Translations", requests_path(status: 0) %> </button>
<button> <%= link_to "Completed Translations", requests_path(status: 1) %> </button>
<%#= button_to "All Requests", requests_path, action: "index", method: :get %>

<%#= button_to "Pending Translations", requests_path(status: 0), action: "index", method: :get %>
<%#= button_to "Completed Translations", requests_path(status: 1), action: "index", method: :get %>

<%#= button_to("Pending Translations 2", requests_path(:status => 0), :action => "index", :method => :get)%>


<table>
  <thead>
    <tr>
      <th> Title </th>
      <th> Request Language </th>
      <th> Translation Language </th>
      <th> Status </th>
      <th> Categories </th>
      <th> Deadline </th>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>  
        <td> <%= link_to "#{request.title}", request_path(request_id: request.id) %>  </td>
        <td> <%= request.from_language %> </td>
        <td> <%= request.to_language %> </td>
        <td> <%= request._status %> </td>
        <td> <%= request.categories %> </td>
        <td> <%= request.deadline %> </td>
      </tr>
      <% end %>

    </tbody>
  </table>
  
<%# <%= button_to "New Request", new_request_path, action: "new", method: :get %> 
