<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<div class="container">
  <h1 style="text-align: center; padding: 20px 0"> My New Request </h1>
  <%= form_for @request do |r| %>
    <div class="form-group">
      <%= r.label :from_language %>
      <%= r.select("from_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), required: true, class: "form-control") %>
      <%= r.label :to_language %>
      <%= r.select("to_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <%= r.label :title %><br>
      <%= r.text_field(:title, required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <%= r.label :description %><br>
      <%= r.text_field(:description, required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <% if @format == "text"%>
        <%= r.label :document_text %><br>
        <%= r.text_area(:document_text,  required: true, direct_upload: true, class: "form-control") %><br>
        <%= link_to "Upload File Instead", new_request_path(format: "upload"), method: :get %>
      <% else %>
        <%= r.label :document_files %><br>
        <%= r.file_field(:document_files, multiple: true, accept: 'image/png, image/jpeg, application/pdf', required: true, class: "form-control-file") %><br>
        <%= link_to "Enter Text Instead", new_request_path(format: "text"), method: :get %>
      <% end %>
    </div>

    <%= r.hidden_field :format, value: @format %>

    <div class="form-group">
      <%= r.label :deadline %><br>
      <%= r.date_field(:deadline, min: Date.today, required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <% @categories = ["Legal", "Medical", "Housing", "Day To Day"]%>
      <%= r.label :categories %><br>
      <% @categories.each do |c| %>
          <%= r.check_box :categories, { multiple: true }, c, false %>
          <%= r.label c %>
      <% end %>
    </div>

    <div class="form-group">
      <%= r.submit data: { confirm: 'Do you details look correct?' }, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= button_to "Cancel", requests_path, action: "index", method: :get, data: { confirm: 'Are you sure you want to cancel this request?', title: 'Confirm Request Cancellation', commit: 'YES', cancel: 'NO'}, class: "btn btn-primary" %>
  </div>
</div>
