<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>


<div class="container pad-for-nav">
  <div class="page-header-container">
    <h2 class="page-header-title">New Request</h2>
  </div>
  <%= form_for @request do |r| %>
    

    <div class="form-group">
      <% if @format == "text"%>
        <span class="lead form-title"> Document</span><br/>
        <span class="lead form-subtitle"> Paste your document here or <%= link_to "upload files",  {controller: "requests", action: "new", format: "upload"}, method: :get, class: "bold-3" %> instead. </span>
        <%= r.text_area(:document_text,  rows: 5, required: true, direct_upload: true, class: "form-control mg-tb-5") %><br>
        
      <% else %>
        <%= r.label :documents, class:"lead lead-no-margin blue bold" %><br>
        <%= r.file_field(:document_uploads, multiple: true, accept: 'image/png, image/jpeg, application/pdf', required: true, class: "form-control-file") %><br>
        <%= link_to "Enter Text Instead", {controller: "requests", action: "new"}, method: :get %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= r.label :title, class:"lead lead-no-margin blue bold" %><br>
          <%= r.text_field(:title, required: true, class: "form-control") %>
        </div>

        <div class="form-group">
          <%= r.label :Instructions, class:"lead lead-no-margin blue bold" %><br>
          <%= r.text_area(:description, rows: 5, required: true, class: "form-control") %>
        </div>
        <%= r.hidden_field :format, value: @format %>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <span class="lead form-title"> Document Language: </span>
          <%= r.select("from_language", options_for_select([ "Arabic", "English", "Farsi", "Greek" ]), {prompt: "Select Language"}, {class: "form-control", required: true }) %>
        </div>
        <div class="form-group">
          <span class="lead form-title"> To Language: </span>
          <%= r.select("to_language", options_for_select([ "Arabic", "English", "Farsi", "Greek" ]), {prompt: "Select Language"}, {class: "form-control", required: true}) %>
        </div>
        <div class="form-group">
          <%= r.label :deadline, class:"lead lead-no-margin blue bold" %><br>
          <%= r.date_field(:deadline, min: Date.today, required: true, class: "form-control") %>
        </div>

        <div class="form-group">
          <% @categories = ["Legal", "Medical", "Housing", "Day To Day"]%>
          <%= r.label :categories, class:"lead lead-no-margin blue bold" %><br>
          <% @categories.each do |c| %>
              <%= r.check_box :categories, { multiple: true }, c, false %>
              <%= r.label "categories#{format_id(c)}", c %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="form-group">
      <%= r.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", requests_path, action: "index", method: :get, data: { confirm: 'Are you sure you want to cancel this request?', title: 'Confirm Request Cancellation', commit: 'YES', cancel: 'NO'}, class: "btn btn-outline-primary" %>
    </div>
  <% end %>

</div>
