<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>


<div class="container">
  <div class="page-header-container">
    <h2 class="page-header-title">New Request</h2>
  </div>
  <%= form_for @request do |r| %>
    <div class="form-group">
      <%= r.label :document_language %>
      <%= r.select("from_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), required: true, class: "form-control") %>
      <%= r.label :Translate_to %>
      <%= r.select("to_language", raw("<option>Arabic</option><option>English</option><option>Farsi</option><option>Greek</option>"), required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <% if @format == "text"%>
        <%= r.label :Document, class:"lead lead-no-margin blue bold" %><br>
        <%= r.text_area(:document_text,  rows: 5, required: true, direct_upload: true, class: "form-control") %><br>
        <%= link_to "Upload File Instead",  {controller: "requests", action: "new", format: "upload"}, method: :get %>
      <% else %>
        <%= r.label :documents, class:"lead lead-no-margin blue bold" %><br>
        <%= r.file_field(:document_uploads, multiple: true, accept: 'image/png, image/jpeg, application/pdf', required: true, class: "form-control-file") %><br>
        <%= link_to "Enter Text Instead", {controller: "requests", action: "new"}, method: :get %>
      <% end %>
    </div>

    <div class="form-group">
      <%= r.label :title, class:"lead lead-no-margin blue bold" %><br>
      <%= r.text_field(:title, required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <%= r.label :Instructions, class:"lead lead-no-margin blue bold" %><br>
      <%= r.text_area(:description, rows: 5, required: true, class: "form-control") %>
    </div>


    <%= r.hidden_field :format, value: @format %>

    <div class="form-group">
      <%= r.label :deadline, class:"lead lead-no-margin blue bold" %><br>
      <%= r.date_field(:deadline, min: Date.today, required: true, class: "form-control") %>
    </div>

    <div class="form-group">
      <% @categories = ["Legal", "Medical", "Housing", "Day To Day"]%>
      <%= r.label :categories, class:"lead lead-no-margin blue bold" %><br>
      <% @categories.each do |c| %>
          <%= r.check_box :categories, { multiple: true }, c, false %>
          <%= r.label c %>
      <% end %>
    </div>

    <div class="form-group">
      <%= r.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", requests_path, action: "index", method: :get, data: { confirm: 'Are you sure you want to cancel this request?', title: 'Confirm Request Cancellation', commit: 'YES', cancel: 'NO'}, class: "btn btn-outline-primary" %>
    </div>
  <% end %>

</div>
