<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>


<h3>Details for <%= @request.title %> </h3>
  
<ul class="requests">
  <li>Title: <%= @request.title %></li>
  <li>Request Language: <%= @request.from_language %></li>
  <li>Translation Language: <%= @request.to_language %></li>
  <li>Status: <%= @request._status %></li>
  <li>Categories: <%= @request.categories %></li>
  <li>Description: <%= @request.description %></li>
  <li>Deadline: <%= @request.deadline %></li>
  <% if @request.document_format=="text"%>
    <li><%= "Document Text: " + @request.document_text %></li>
  <% else %>
    <li> Document Files:</li>
    <% @request.document_files.each do |file| %>
      <li><%= link_to(file.filename, file) %></li>
    <% end %>
  <% end %>
</ul>

<%= button_to "All Requests", requests_path, action: "index", method: :get %>
<%= button_to "Delete Request", delete_request_path, request_id: @request.id, action: "delete", method: :delete, data: { confirm: 'Are you sure you want to delete this request?', title: 'Confirm Request Deletion', commit: 'YES', cancel: 'NO'} %>