  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  
  <h3>Details for <%= @request.title %> </h3>
  
  <li class="requests">
    Title: <%= @request.title %><br />
    <li>
    Request Language: <%= @request.from_language %><br />
    <li>
    Translation Language: <%= @request.to_language %><br />
    <li>
    Status: <%= @request._status %><br />
    <li>
    Categories: <%= @request.categories %><br />
    <li>
    Deadline: <%= @request.deadline %>
  </li>

<%= button_to "All Requests", requests_path, action: "index", method: :get %>
<%= button_to "Delete Request", delete_request_path, request_id: @request.id, action: "delete", method: :delete, data: { confirm: 'Are you sure you want to delete this request?', title: 'Confirm Request Deletion', commit: 'YES', cancel: 'NO'} %>
